output/
data_raw/
data_weather/
data/
saisie/
library/
crbpo_recapture/
correction/
.git/

wc0.5/
archive/

.Rproj.user
.Rhistory
*.html
*.r~
BCI2017.R
monScript_capture.r
sig/
*.dbf
*.prj
*.qpj
*.shp
*.shx
*.png
*.pdf
*.pjg
*.zip
*.gz
*.Rdata
*.rds
*.r#
*.rmd~
*.nc
*.org
*.org~

my*

isd-history.csv

f_coord_ROUTE.R

myScript_trend.R
